{% extends 'base.html'%}
{% block title %}
    <title>edit page</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <form method="POST" class="row">
        {% csrf_token %}
        <label class="col-md-4"></label>
        <input type="text" class="form-control col-md-6" name="task" placeholder="{{task_obj.task}}" value="{{task_obj.task}}">
        <input type="hidden" name="done" placeholder="{{task_obj.done}}" value="{{task_obj.done}}">
        <br>
        <button type="submit" class="btn btn-primary col-md-2">update task</button>
    </form>
</div>

{% endblock content%}